
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

@font-face {
    font-family: 'Ultra';
    src: url(../../Ultra/Ultra-Regular.ttf);
}



// Hero
body .main-hero video {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}



// header
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.305);
}
.container-fluid > a {
    color: rgb(64, 34, 0);
}
.container-fluid > a:hover {
    color: rgb(255, 255, 255);
    transition: color 300ms ease;
}
#Head {
    font-family: 'Ultra', sans-serif;
}
.navbar-nav li a {
    text-align: end;
}
.nav-item a {
    border-bottom: 2px solid transparent;
}
.transparent {
    background-color: rgba(255, 255, 255, 0.305);
}
.dropdown-item:hover {
    background-color: transparent
}



// space
.space {
  height: 34vh;
  width: 100%;
  h1 {
    font-family: monospace, sans-serif;
    font-size: 2.5rem;
    text-align: end;
    color: yellowgreen;
    padding: 0.5rem 2rem;
    margin-top: 2rem;
    i {
        animation: flip 3000ms ease infinite;
    }
    }
}



// about
.about {
    background-image: url(../../images/3-KUMAMOTO-SENCHA-TEE-PREMIUM-scaled.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.a-container {
    background-color: rgba(255, 255, 255, 0.234);
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 2rem;
    margin: 2rem 0;
    border-radius: 15px;
    p {
        font-size: 1.5rem;
    }
}
h2 {
    font-family: 'Ultra', sans-serif;
    font-size: 3.2rem;
    color: rgb(64, 34, 0);
    margin: 3rem 0;
    text-shadow: white 2px 2px 5px;
}
p {
    text-shadow: white 1px 1px 1px;
    color: rgb(64, 34, 0);
    font-family: monospace, sans-serif;
}



// product
.product {
    background-image: url(../../images/pexels-charlotte-may-5946652.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2rem 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    a {
        color: black;
        text-decoration: none;
    }
}
.product > p {
    font-size: 1.5rem;
    padding: 1rem 0;
    font-family: monospace, sans-serif;
    text-shadow: white 2px 2px 5px;
    color: rgb(64, 34, 0);
}
.product h5 {
    font-size: 1.5rem;
    text-shadow: white 2px 2px 5px;
    color: rgb(64, 34, 0);
}
.product a:hover {
    color: rgb(255, 255, 255);
    transition: color 300ms ease;
}
.p-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .item {
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
        p {
            max-height: 50%;
            overflow: hidden;
        }
    }
}
.item:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.6);
    transform: translateY(-4px);
    opacity: 0.9;
    transition: transform 400ms ease, box-shadow 300ms ease, opacity 300ms ease;
}
.hide {
    display: none;
}



// footer
footer {
    background: linear-gradient(rgb(190, 255, 203) 20%,rgb(108, 255, 137) 70%,rgb(53, 182, 53) 100%);
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h3 {
        margin-top: 2rem;
    }
    h3 a {
        font-family: 'Ultra', sans-serif;
        font-size: 1.5rem;
        color: rgb(64, 34, 0);
        text-decoration: none;
    }
    form {
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}
footer h3 a:hover, .icon a:hover {
    color: rgb(255, 255, 255);
    transition: color 300ms ease;
}
.icon a:hover i {
    animation: move-around 100ms ease infinite;
}
.f-navbar a:hover,.nav-item a:hover {
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    transition: color 400ms ease, border-bottom 400ms ease;
}
.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    button {
        margin-top: 1rem;
        width: 50%;
        align-self: center;
    }
}
input, textarea {
    border-radius: 8px;
    background: transparent;
}
input:focus, textarea:focus {
    outline: rgb(255, 81, 0) auto 1px;
}
button {
    border-radius: 8px;
    background: transparent;
    border: 1px solid rgb(64, 34, 0);;
    color: rgb(64, 34, 0);;
    font-size: 1rem;
    padding: 0.3rem 1rem;
    box-shadow: inset 0 0 5px 3px rgb(64, 34, 0);
}
button:hover {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    box-shadow: inset 0 0 5px 3px rgba(255, 255, 255, 0.6);
    transition: box-shadow 300ms ease;
}
.icon {
    font-size: 2rem;
    padding: 0.5rem 0;
    a {
        color: rgb(64, 34, 0);
        text-decoration: none;
    }
    i {
        padding: 0 0.5rem;
    }
}
.f-navbar {
    padding: 1rem 0;
    width: 70%;
    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0;
    }
    li {
        list-style: none;
    }
    a {
        color: rgb(64, 34, 0);
        text-decoration: none;
        font-size: 1.3rem;
        padding: 0.3rem 0;
        border-bottom: 2px solid transparent;
    }
}
body > p {
    text-align: center;
    background-color: rgb(0, 59, 10);
    color: #fff;
    padding: 0.3rem 0;
    margin: 0;
} 



@media screen and (min-width: 768px) {
    .p-container {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .item {
            width: 42%;
        }
    }
    .space {
        height: 55vh;
        margin-top: 5rem;
        padding: 1rem 3rem;
        h1 {
            font-size: 5rem;
        }
    }
    body .main-hero video {
        height: 70vh;
    }
    footer {
        justify-content: space-evenly;
        form {
            width: 50%;
        }
    }
    .icon a, .f-navbar a {
        margin: 0 0.5rem;
    }
    .hide {
        display: block;
    }
}


@keyframes move-around {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(1px);
    }
    50% {
        transform: translateY(1px);
    }
    75% {
        transform: translate(-1px);
    }
    100% {
        transform: translateX(0);
    }
}


@keyframes flip {
    0% {
        transform: rotateY(0);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0);
    }
}





// sencha.html & matcha.html & gyokuro.html & kukicha.html & genmaicha.html & houjicha.html

.sencha-header, .matcha-header, .gyokuro-header, .kukicha-header, .genmaicha-header, .houjicha-header {
    position: fixed;
    top: 0;
}
.sencha-main, .matcha-main, .gyokuro-main, .kukicha-main, .genmaicha-main, .houjicha-main {
    background: linear-gradient(rgb(200, 255, 208) 20%,rgb(234, 255, 239) 70%,rgb(248, 255, 248) 100%);

}
.name {
    text-align: center;
    padding-top: 3.5rem;
    h4 {font-size: 2rem;
        color: rgb(64, 34, 0);
        text-shadow: white 2px 2px 5px;
    }
}
.sencha, .matcha, .gyokuro, .kukicha, .genmaicha, .houjicha {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sencha article:nth-child(1), 
.matcha article:nth-child(1), 
.gyokuro article:nth-child(1),
.kukicha article:nth-child(1),
.genmaicha article:nth-child(1),
.houjicha article:nth-child(1){
    width: 100%;
}
.sencha article:nth-child(1) > div, 
.matcha article:nth-child(1) > div, 
.gyokuro article:nth-child(1) > div,
.kukicha article:nth-child(1) > div,
.genmaicha article:nth-child(1) > div,
.houjicha article:nth-child(1) > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sencha article:nth-child(2), 
.matcha article:nth-child(2), 
.gyokuro article:nth-child(2),
.kukicha article:nth-child(2),
.genmaicha article:nth-child(2),
.houjicha article:nth-child(2){
    width: 100%;
}
.sencha article:nth-child(2) > div, 
.matcha article:nth-child(2) > div, 
.gyokuro article:nth-child(2) > div,
.kukicha article:nth-child(2) > div,
.genmaicha article:nth-child(2) > div,
.houjicha article:nth-child(2) > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2.5rem ;
}
.sencha article:nth-child(1) div img, 
.matcha article:nth-child(1) div img, 
.gyokuro article:nth-child(1) div img,
.kukicha article:nth-child(1) div img,
.genmaicha article:nth-child(1) div img,
.houjicha article:nth-child(1) div img{
    width: 80%;
}
.sencha-img p , .matcha-img p, .gyokuro-img p, .kukicha-img p, .genmaicha-img p, .houjicha-img p {
    align-self: start;
    margin-left: 4rem;
    padding-top: 0.3rem;
}


@media screen and (min-width: 768px) {
    .name {
        padding-top: 5rem;
    }
    .sencha, .matcha, .gyokuro, .kukicha, .genmaicha, .houjicha{
        flex-direction: row;
    }
    .sencha article:nth-child(1) , 
    .matcha article:nth-child(1), 
    .gyokuro article:nth-child(1),
    .kukicha article:nth-child(1),
    .genmaicha article:nth-child(1),
    .houjicha article:nth-child(1){
        width: 50%;
    }
    .sencha article:nth-child(1) > div, 
    .matcha article:nth-child(1) > div, 
    .gyokuro article:nth-child(1) > div,
    .kukicha article:nth-child(1) > div,
    .genmaicha article:nth-child(1) > div,
    .houjicha article:nth-child(1) > div{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .sencha article:nth-child(2), 
    .matcha article:nth-child(2), 
    .gyokuro article:nth-child(2),
    .kukicha article:nth-child(2),
    .genmaicha article:nth-child(2),
    .houjicha article:nth-child(2){
        width: 50%;
    }
    .sencha article:nth-child(2) > div, 
    .matcha article:nth-child(2) > div, 
    .gyokuro article:nth-child(2) > div,
    .kukicha article:nth-child(2) > div,
    .genmaicha article:nth-child(2) > div,
    .houjicha article:nth-child(2) > div{
        margin-top: 2rem;
        margin-bottom: 2rem;
        border-left: 2px solid rgb(64, 34, 0);
    }
}
